.inner-tools{
    width: 87%;
    display: flex;
    gap: 2.5rem;
}

.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081b29;
    color: white;
    height: 100vh;
}

.tools-left{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tools-right{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    row-gap: 1.6rem;
}

.tools-laptop{
    width: 400px;
    object-fit: contain;
    border-radius: 15%;
}

.skills{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.tools-heading{
    font-size: 48px;
    margin-top: 3rem;
}

.skill-card{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    border-radius: 9px;
    box-shadow:5px 5px #888888;;
}

.skill-card:hover{
    cursor: pointer;
}