.left-sec{
    width: 60%;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.right-sec{
    width: 40%;
}

.about-sec{
    background-color: #081b29;
    color: white;
}

.inner-about-sec{
    width: 87%;
    margin: auto;   
    display: flex;
}

.about-heading{
    font-size: 57px;
}

.subhead-about{
    font-size: 30px;
    color: #00abf0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.descrip{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-about{
    display: flex;
    gap: 2rem;
}

.hire-btn{
    background-color: #00abf0;
    color: #081b29;
    border: none;
}

.contact-btn{
    background-color: #081b29;
    border: 2px solid #00abf0;
    color: #00abf0;
}

.btn-about{
    padding: 12px 25px;
    font-weight: 900;
    font-size: 17px;
    border-radius: 12px;
    transition: 0.5s;
}

.contact-btn:hover{
    cursor: pointer;
    background-color: #00abf0;
    color: #081b29;
}

.hire-btn:hover{
    cursor: pointer;
    background-color: #081b29;
    color: #00abf0;
    border: 2px solid #00abf0;
}

.socials{
    width: 87%;
    display: flex;
    margin: auto;
    gap: 1.7rem;
    padding-bottom: 62px;
}

.socials a{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
}

.socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.socials a:hover{
    color: #081b29;
}

.socials a:hover::before{
    width: 100%;
}

.right-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-personal-img{
    width: 400px;
    object-fit: contain;
    border-radius: 20%;
}